.App {
  text-align: center;
}

.container {
  margin-top: 50px;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.media-container img {
  width: 200px;
  height: 300px;
}

.media-container iframe {
  width: 560px;
  height: 315px;
}